html, body {
    width:100%;
    height: 100%;
}

.room {
    background-color: #19194C !important;
    color: white !important;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#login {
    color: white;
    z-index: 10;
}

#lobby {
    z-index: 9;
}

#loginInput {
    width: 50%;
    height: 100%;
    min-width: 50%;
    min-height: 100%;
}

#loginInput div {
    width: 100%;
    min-width: 100%;
    padding: 10px;
}

#loginInput div #title {
    font-size: 4em;
    margin-bottom: 10px;
}

#loginButton {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.error {
    background: #FFAEB9;
    border-radius: 5px;
    font-size: 1em;
}

#gameList {
    height: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background: #0A0A33;
    padding: 0;
    overflow: hidden;
}

#userList {
    background: #2E2E69;
    height: 100%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0;
    overflow: hidden;
    border-left: 1px #46469F solid;
}

.top-bar {
    height: 35px;
    line-height: 35px;
    background: #23234F;
    width: 100%;
}

#gameList .top-bar, #chatBox .top-bar {
    background: #26264C;
}

#newGameButton {
    float: right;
    border-radius: 0px;

}

#userList .top-bar {
    background: #26264C;
}

.content {
    padding: 5px;
    display: block;
    overflow-y: scroll;
    height: calc(100% - 35px);
    width: 100%;
}

.message {
    margin-bottom: 5px; 
    word-wrap: break-word;
}

.user {
    min-width: 100%;
    width: 100%;
    border-bottom: 1px #46469F solid;
    padding: 5px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    word-wrap: break-word;
}

.user:last-child {
    border: none;
}

.user .status {
    display: inline-block;
    float: right;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    height: 24px;
    transform: translateY(-2px);
    border-radius: 4px;
    margin-right: 5px;
}

.user #name {
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 50%;
    display: inline-block;
}

.user #name.status-blue {
    border-radius: 4px;
}

.status-red {
    background: #FFAEB9;
}

.status-green {
    background: #5cb85c;
}

.status-blue {
    background: #5bc0de;
}

.game {
    background: #2E2E69;
    display: inline-block;
    min-width: 30%;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.game #top {
    height: 90%;
    padding: 20px;
}

.game #bottom {
    height: 10%;
}

.game #bottom button {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

/* The game room */
#game {
    z-index: 7;
}

#game #container {
    height: calc(100% - 250px);
    position: relative;
}

#game #container #input {
    display: inline-block;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    width: 100%;
}

#input button {
    width: 25%;
}

#chat {
    height: 250px;
    background: #2E2E69;
    -webkit-box-shadow: 0px -2px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -2px 15px 0px rgba(0,0,0,0.75);
}

#playerList {
    float: left;
    height: 100%;
    padding: 0;
}

#chatBox {
    background: #0A0A33;
    float: right;
    padding: 0;
    height: 100%;
}

#chatBox .content{
    padding: 10px;
}
